<div class="container">
    <div class="nav-main">
      <a href="/links/mainPage">
        <img
          src="/img/natura-cosmeticos.jpeg"
          alt="natura-cosmeticos"
          class="nav-brand pt-3"
        />
      </a>
      <ul class="nav-menu pt-3">
        <li>
          <a href="#">CUIDADOS DIARIOS</a>
        </li>
        <li>
          <a href="#">PERFUMERÍA</a>
        </li>
        <li>
          <a href="#">MAQUILLAJE</a>
        </li>
        <li>
          <a href="#">CABELLO</a>
        </li>
        <li>
          <a href="#">ROSTRO</a>
        </li>
        <li>
          <a href="#">INFANTIL</a>
        </li>
        
      </ul>
      <ul class="pt-3">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
            BUSCAR
          </a>
        </li>
        <li>
          <a href="#">
            <i class="far fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
  <hr />
</div>