body {
    background-color: gray;
    color: white;
    width: 95%;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
};

.card{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.card-1 {
    background-color: black;
}

.card-2{
    background-color: rgb(39, 38, 38);
}

h1 {
    color:rgb(227, 241, 253);
}

img {
    height: 190px;
    width: 140px;
    border-radius: 50%;
    border: 1px solid rgba(143, 143, 143, 0.63);
}